@import url('reset.css');

.container {
    max-width: 1200px;
    margin: 0 auto;   
}

.clear {
    clear: both;
}

.section-1 {
    background: rgb(229, 157, 157);
}

.float-left {
    width: 400px;
    height: 400px;
    outline: 2px solid grey;
    padding: 10px;
    float: left;
}

.section-2 {
    background: rgb(120, 120, 220);
}

.section-2 div {
    outline: 2px solid grey;
}

.section-wrap-1 {
    width: 800px;
    float: left;
}

.section-wrap-1 > div {
    height: 200px;
    padding: 15px;
}

.section-wrap-2 {
    width: 400px;
    float: left;
}

.section-wrap-2 > div {
    height: 133.333px;
    padding: 15px;
}

.section-3 {
    background: rgb(101, 197, 101);
}

.section-3 div {
    outline: 2px solid grey;
}

.section-3 > .part-1 {
    width: 400px;
    height: 400px;
    padding: 15px;
    float: left;
}

.part-2 {
    width: 800px;
    float: left;
}

.part-2 > div {
    height: 200px;
}

.part-top {
    padding: 15px;
}

.part-bottom {
    background: rgb(101, 197, 101);
}

.part-bottom div {
    outline: 2px solid grey;
}

.part-bottom > .part-L {
    width: 400px;
    height: 200px;
    padding: 15px;
    float: left;
} 

.part-R {
    width: 400px;
    float: left;
}

.part-R > div {
    height: 100px;
    padding: 15px;
}