@import url('reset.css');

.container {
    max-width: 1200px;
    margin: 0 auto;   
}

.link {
    margin: 10px;  
}

.link > a {
    text-decoration: none;
    color: brown;
    font-size: 25px;
}

/* inline-block */

.section-1 {
    background: rgb(229, 157, 157);
}

.section-1.inline-block {
    font-size: 0;
}
.section-1 > div {
    width: 400px;
    height: 400px;
    outline: 2px solid grey;
    padding: 10px;
}

.section-1.inline-block > div {
    display: inline-block;
    font-size: 20px;
}

.section-2 {
    background: rgb(120, 120, 220);
}

.section-2.inline-block {
    font-size: 0;
}

.section-2 div {
    outline: 2px solid grey;
}

.section-2 .col-left {
    width: 800px;
}

.section-2 .col-left > div {
    height: 200px;
    padding: 15px;
}

.section-2 .col-right {
    width: 400px;
}

.section-2 .col-right > div {
    height: 133.333px;
    padding: 15px;
}

.inline-item {
    display: inline-block;
    font-size: 20px; 
    vertical-align: top;
}

.section-3 {
    background: rgb(101, 197, 101);
}

.section-3.inline-block {
    font-size: 0;
}

.section-3 div {
    outline: 2px solid grey;
}

.section-3 .part-1 {
    width: 400px;
    height: 400px;
    padding: 15px;
}

.section-3 .part-2 {
    width: 800px;
}

.section-3 .part-2 > div {
    height: 200px;
}

.part-top {
    padding: 15px;
}

.part-bottom.inline-block {
    font-size: 0;
}

.part-bottom .part-left{
    width: 400px;
    height: 200px;
    padding: 15px;
}

.part-bottom .part-right {
    width: 400px;
}

.part-bottom .part-right > div {
    height: 100px;
    padding: 15px;
}

/* float */


.float:after {
    content: '';
    display: block;
    clear: both;
}

.section-1.float > div {
    float: left;
}

.float-left {
    float: left;
}

/* flex */

.flex {
    display: flex;
    flex-direction: row;
}

